.main__task-list {
  list-style: none;
  width: 50%;
  margin: 0;
  padding: 0;
  border: 1px solid #ead7d7;
  box-sizing: border-box;
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #dbdbdb;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #fff;
}

.draggedItem {
  border: 1px solid gray;
}

.list-item:hover .btnDel {
  opacity: 1.4;
}

.list-item .btnDel:hover {
  opacity: 1;
  cursor: pointer;
}

.dragged .list-item {
  opacity: 0.25;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #ffffff;
}

.floating .list-item {
  background-color: #ffffff;
  box-shadow: 0 4px 20px #666666;
} 

 .dl-item.floating {
  width: 85%;
}

.emptyListText {
  font-size: 20px;
  color: lightgray;
  font-style: italic;
}